/urban-garbanzo/nbproject/private/
urban-garbanzo/build/*
!urban-garbanzo/build/web/
urban-garbanzo/build/web/*
!urban-garbanzo/build/web/uploads/
urban-garbanzo/build.xml
urban-garbanzo/nbproject/ant-deploy.xml
urban-garbanzo/nbproject/build-impl.xml
urban-garbanzo/nbproject/genfiles.properties
urban-garbanzo/nbproject/project.properties
urban-garbanzo/nbproject/project.xml
urban-garbanzo/web/tinymce/
/Test/nbproject/private/
/Test/build/
Test/build.xml
Test/manifest.mf
Test/nbproject/build-impl.xml
Test/nbproject/genfiles.properties
Test/nbproject/project.properties
Test/nbproject/project.xml
Test/src/pond/shore/Bird.java
Test/src/pond/swan/Goose.java
Test/src/pond/swan/Swan.java
Test/src/test/Test.java
Test/src/forest/Duck.java
Test/
