<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateHTML</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.GenerateHTML</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/add_q</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateHTML</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
</web-app>
