<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>upload.location</param-name>
        <param-value>/uploads</param-value>
    </context-param>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.MainServlet</servlet-class>
        <multipart-config>
            <!--location>/tmp1</location-->
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>GenerateHTML</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.Viewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntityProfile</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.EntityProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activator</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.Activator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectEntityInfo</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.DirectEntityInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageLibrary</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.ImageLibrary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoResponseServlet</servlet-name>
        <servlet-class>ru.garbanzo.urban.controller.NoResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateHTML</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntityProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activator</servlet-name>
        <url-pattern>/doActive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectEntityInfo</servlet-name>
        <url-pattern>/directInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageLibrary</servlet-name>
        <url-pattern>/imgLib</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoResponseServlet</servlet-name>
        <url-pattern>/noResp</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>ru.garbanzo.urban.exception.JDBCException</exception-type>
        <location>/db_error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
